torch
transformers>=4.57.3
datasets
evaluate
sentencepiece
rouge-score
pandas
numpy
accelerate

spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
nltk
psycopg[binary]>=3.2
pypdf
openai-whisper
openai
deepl
